body {
    background-color: rgb(17, 17, 17);
}

/* Navigation System */
.bar {
    position: absolute;
    bottom: 20px;
    background-color: rgb(24, 22, 22);
    width: 600px;
    outline: none;
    border-color: #9ecaed;
    border: 2px solid #7e7e7e;
    box-shadow: 0 0 5px #9ecaed;
    height: 75px;
    left: 38cap;
    opacity: 0.8;
    user-select: none;
    border-radius: 35px;
}

.playbutton {
    background-color: transparent;
    border: none;
    user-select: none;
}

.playimg {
    position: absolute;
    bottom: 35px;
    left: 420px;
    width: auto;
    user-select: none;
    height: 45px;


}
@keyframes clickonply {
    0%{
        filter: drop-shadow(-3px 3px 5px rgba(251, 255, 0, 0.6));
    }
    100%{
        filter: drop-shadow(-3px 4px 5px rgba(255, 0, 132, 0.8));
    }
}   


.playimg:hover {
    animation-name: clickonply;
    animation-duration: 5s;
     
}

.url-input {
    position: absolute;
    bottom: 25px;
    left: 70px;
    width: 400px;
    user-select: none;
    height: 30px;
    outline: transparent;
    color:white;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: rgba(32, 32, 32, 0.274);
}


/* Video Shower */

.yconnector {
    position: absolute;
    width: 600px;
    left: 405px;
    height: 300px;
    border-radius: 10px;
    user-select: none;
    border: 1px solid #0a0a0a;
    box-shadow: 0 0 50px #04243f;
}

/* Minimize Video */

.minimizebutton {
    position: absolute;
    right: 6px;
    background-color: rgb(22, 22, 22);
    color: rgb(100, 100, 45);
    height: 30px;
    user-select: none;
    width: auto;
    font-family: "Exo 2", sans-serif;
    outline: none;
    border: none;
    bottom: 6px;
    border-radius: 5px;
    font-style: normal;
}




/* Settings Menu */

.settingsmenu {
    position: absolute;
    background-color: rgba(51, 51, 51, 0.747);
    width: 400px;
    height: 500px;
    left: 520px;
    border-radius: 5px;
    top: 20px;
    opacity: 0;
    
}

@keyframes smoothin {
    0% { opacity: 0; 
    }
    100% {
        opacity: 1;
    }
  }
  






.titlesettings {
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    user-select: none;
    font-family: "DM Sans", sans-serif;
    box-shadow: 0 0 2px #7e7e7e;
}

.close-settings {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 18px;
    width: 18px;  
    border-radius: 50%;
    background-color: #ff000088;
    cursor: pointer;
}

@keyframes closeset {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        
    }
}





.title_minimize {
    color: whitesmoke;
    text-align: center;
    gap: 10px;
    margin: 10px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
}

